# recipes/core/base/coreutils.toml
#
# GNU Core Utilities
#
# Essential command-line utilities: ls, cp, mv, rm, cat, chmod, etc.
# These form the foundation of any Unix-like system.

[package]
name = "coreutils"
version = "9.9"
release = "1"
summary = "GNU core utilities"
description = """
GNU Coreutils provides the basic file, shell, and text manipulation
utilities of the GNU operating system. These include: ls, cat, cp, mv,
rm, mkdir, rmdir, chmod, chown, head, tail, sort, uniq, wc, and many more.
"""
license = "GPL-3.0-or-later"
homepage = "https://www.gnu.org/software/coreutils/"

[source]
archive = "https://ftp.gnu.org/gnu/coreutils/coreutils-%(version)s.tar.xz"
checksum = "sha256:19bcb6ca867183c57d77155eae946c5eced88183143b45ca51ad7d26c628ca75"
signature = "https://ftp.gnu.org/gnu/coreutils/coreutils-%(version)s.tar.xz.sig"

[build]
requires = ["glibc"]
makedepends = ["gcc", "gettext", "gmp-devel", "libcap-devel", "acl-devel", "attr-devel"]

configure = """
./configure \
    --prefix=/usr \
    --enable-no-install-program=kill,uptime \
    --enable-single-binary=symlinks \
    --disable-acl \
    --disable-xattr \
    --without-selinux \
    HELP2MAN=true
"""

make = """
# Build binaries only, skip man pages (requires help2man which needs perl)
make -j%(jobs)s -C lib
make -j%(jobs)s -C src
"""

install = """
# Install binaries only (skip man pages)
make -C lib DESTDIR=%(destdir)s install
make -C src DESTDIR=%(destdir)s install

# Move programs to /bin for FHS compliance and early boot
mkdir -p %(destdir)s/bin
for prog in cat chgrp chmod chown cp date dd df echo false ln ls mkdir \
            mknod mv pwd rm rmdir stty sync true uname; do
    mv %(destdir)s/usr/bin/$prog %(destdir)s/bin/ 2>/dev/null || true
    ln -sf /bin/$prog %(destdir)s/usr/bin/$prog
done
"""

[variables]
jobs = "$(nproc)"
