# recipes/core/boot/efivar.toml
#
# efivar - Tools and library for EFI variables
#
# Library and tools for manipulating UEFI variables.

[package]
name = "efivar"
version = "39"
release = "1"
summary = "Tools and library for EFI variables"
description = """
efivar provides a simple command line interface to the UEFI variable
facility, as well as a library (libefivar) that applications can use
to manipulate UEFI variables. It is required by efibootmgr and other
tools that need to interact with UEFI firmware.
"""
license = "LGPL-2.1-or-later"
homepage = "https://github.com/rhboot/efivar"

[source]
archive = "https://github.com/rhboot/efivar/archive/refs/tags/%(version)s.tar.gz"
checksum = "sha256:c9edd15f2eeeea63232f3e669a48e992c7be9aff57ee22672ac31f5eca1609a6"

[build]
requires = ["glibc", "popt"]
makedepends = ["gcc", "make", "pkgconf"]

# efivar uses a simple Makefile
configure = ""

make = "make -j%(jobs)s"

install = """
make DESTDIR=%(destdir)s install

# Remove static libraries
rm -f %(destdir)s/usr/lib/*.a
"""

[variables]
jobs = "$(nproc)"
